extends layout

block content 
  #error.has-text-centered.center
    .error-code=error.status
    .error-message=error.message
    a.button.is-warning.is-medium(href="javascript:history.back()") Go back
    if error.stack
      pre #{error.stack}